/* style.css */
/* BASIC STYLINGS
============================================================================= */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, ol, ul, li,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

*, * :before, * :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: verdana, arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.428571429;
    color: #666;
    background-color: #fff
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

input, button {
    line-height: normal
}

a {
    color: #007eb6;
    text-decoration: none
}

a:hover, a:focus {
    color: #00496a;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

hr {
    margin-top: 20px;
    margin-bottom: 20px !important;
    border: 0;
    border-top: 1px solid #eee
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px
}


h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 14px
}

h1, .h1 {
    font-size: 36px
}

h2, .h2 {
    font-size: 30px
}

h3, .h3 {
    font-size: 24px
}

h4, .h4 {
    font-size: 18px
}

h5, .h5 {
    font-size: 14px
}

h6, .h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

body, legend {
    color: #666
}

h1, h2, h3, legend, button, select, input {
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

input {
    line-height: 1.125em
}

h2, h3, h4, button, select, input, .panel-title > a {
    color: #007eb6
}

h1 {
    color: #00395d;
    font-family: Verdana, sans-serif;
    font-size: 2.125em
}

h2 {
    font-family: Verdana, sans-serif;
    font-size: 1.75em;
    font-weight: normal;
    text-align: left;
}

h3 {
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
    margin: 10px 0 10px;
    text-align: left;
}

h2 + h3 {
    margin-top: 30px
}

h4 {
    margin: 10px 0;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

p + p + h4, ul + h4 {
    margin-top: 30px
}

p {
    line-height: 1.375em;
    margin: 20px 0
}

hr {
    border-top: 1px solid #ececec
}

/* Process panel*/

.process-panel {
    background: #e5f2f8;
    margin-bottom: 1.375em;
    padding: 0 0 1.5625em 1.25em;
    counter-reset: step;
    border-radius: 4px
}

.process-panel h3 {
    margin-bottom: .75em;
    margin-top: 0;
    padding-top: .9375em
}

.process-panel li {
    color: #007eb6;
    display: inline-block;
    font-size: .875em;
    padding-top: 4em;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 20%;
    line-height: 1.2em
}

.process-panel li:first-child {
    width: 17%
}

.process-panel li:last-child {
    width: 17%
}

.process-panel li:before {
    background: #fff;
    border: 1px solid #007eb6;
    border-radius: 50px;
    counter-increment: step;
    content: counter(step);
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin: auto auto .5em -25px;
    position: absolute;
    top: 0;
    width: 50px;
    font-weight: bold;
    z-index: 5
}

.process-panel li:after {
    content: "";
    display: block;
    border-top: 3px dotted #7ebedd;
    position: absolute;
    top: 25px;
    left: 50%;
    width: 100%;
    z-index: 1
}


.process-panel li:last-child:after {
    display: none
}

.process-panel li.active {
    font-weight: bold;
}
.process-panel li.active:before {
    background-color: #e5f2f8;
}


@media only screen and (max-width: 780px){
/*    .process-panel {
        display: none;
    }*/
    .process-panel li:before, .process-panel  li:after {

        display: none;
    }

    .process-panel li {
        width: 10%;
        display: list-item;
        text-align: left;
        padding: 0;
    }
}



/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#signup-form {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    padding: 30px;
}

#form-views {
    width: auto;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}

/* enter animation */
#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

/* Appoinment form */
.appointment-form fieldset {
    border-bottom: 1px solid #eee;
    margin: 10px 0 10px 0;
}

.appointment-form fieldset label {
    margin: 0 0 10px 0;
}

/* UI datepicker */
.ui-datepicker {
    background-color: #fff;
    border: 1px solid #66AFE9;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
    display: none;
    margin-top: 4px;
    padding: 10px;
    width: 240px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
}
.ui-datepicker a,
.ui-datepicker a:hover {
    text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
    color: #2A6496;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
    margin-bottom: 4px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: default;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 20px;
    color: #999;
}
.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
    content: "\f104";
}
.ui-datepicker .ui-datepicker-next:before {
    content: "\f105";
}
.ui-datepicker .ui-icon {
    display: none;
}
.ui-datepicker .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
    padding: 4px 0;
    color: #000 !important;
}
.ui-datepicker .ui-datepicker-calendar td {
    border-radius: 4px;
    -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover:not(.ui-datepicker-current-day) {
    background-color: #eee;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
    color: #000;
}
.ui-datepicker .ui-datepicker-current-day {
    background-color: #285e8e;
    /* background-color: #4289cc; */
}
.ui-datepicker td.ui-datepicker-current-day a {
    color: #fff;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}

.ui-datepicker-month {
    border: 0px;
    color: #000;
}
.ui-datepicker-year {
    border: 0px;
    color: #000;
}
